&timers3 {
	status = "okay";
	st,prescaler = <639>; // Clock at 64 MHz, target period 10us

	counter3: counter {
		status = "okay";
	};
};

/ {
	load_switch: load_switch {
		compatible = "power-switch";
		gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
	};
};
